aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
amqp==5.2.0
annotated-types==0.7.0
anyio==4.7.0
asgiref==3.8.1
attrs==24.3.0
billiard==4.2.0
Brotli==1.1.0
celery==5.4.0
certifi==2024.7.4
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudinary==1.41.0
crispy-bootstrap5==2024.2
cssselect2==0.7.0
distro==1.9.0
dj-database-url==2.3.0
Django==5.0.6
django-adminlte-3==0.1.6
django-adminlte3==0.1.6
django-anymail==11.0.1
django-appconf==1.0.6
django-axes==7.0.1
django-bootstrap-select==0.1.3
django-celery-results==2.5.1
django-cloudinary-storage==0.3.0
django-crispy-forms==2.2
django-debug-toolbar==4.4.6
django-imagekit==5.0.0
django-select2==8.2.0
et-xmlfile==1.1.0
fonttools==4.55.8
frozenlist==1.5.0
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.7
imagekitio==4.1.0
jiter==0.8.2
jsonpatch==1.33
jsonpointer==3.0.0
kombu==5.4.0
langchain-core==0.3.29
langchain-text-splitters==0.3.4
multidict==6.1.0
numpy==2.1.0
openpyxl==3.1.5
orjson==3.10.13
packaging==24.2
pandas==2.2.2
pilkit==3.0
pillow==10.4.0
prompt_toolkit==3.0.47
propcache==0.2.1
psycopg==3.2.3
psycopg-binary==3.2.3
pycparser==2.22
pydantic==2.10.4
pydantic_core==2.27.2
pydyf==0.11.0
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.1
PyYAML==6.0.2
redis==5.0.8
requests==2.32.3
requests-toolbelt==0.10.1
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.36
sqlparse==0.5.0
tenacity==9.0.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.20
vine==5.1.0
wcwidth==0.2.13
weasyprint==64.0
webencodings==0.5.1
whitenoise==6.8.2
yarl==1.18.3
zopfli==0.2.3.post1
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
