{% extends "adminlte/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    
    <!-- Profile Picture Section -->
    <div class="card mb-3">
        <div class="card-header">Profile Picture</div>
        <div class="card-body text-center">
            <div class="mb-3">
                <img src="{% if form.instance.profile_picture %}
                {{ form.instance.profile_picture.url }}
                {% else %}
                https://i.pinimg.com/564x/0d/64/98/0d64989794b1a4c9d89bff571d3d5842.jpg
                {% endif %}" alt="Profile Picture" class="img-thumbnail" style="max-width: 150px;">
            </div>
            <div class="form-group">
                {{ form.profile_picture|as_crispy_field }}
                {{ form.profile_picture.errors }}
            </div>
        </div>
    </div>

    <!-- Personal Information Section -->
    <div class="card mb-3">
        <div class="card-header">Personal Information</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.last_name|as_crispy_field }}
                        {{ form.last_name.errors }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.first_name|as_crispy_field }}
                        {{ form.first_name.errors }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.email|as_crispy_field }}
                        {{ form.email.errors }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.gender|as_crispy_field }}
                        {{ form.gender.errors }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.date_of_birth|as_crispy_field }}
                        {{ form.date_of_birth.errors }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.blood_group|as_crispy_field }}
                        {{ form.blood_group.errors }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.peculiar_illnesses|as_crispy_field }}
                        {{ form.peculiar_illnesses.errors }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.nationality|as_crispy_field }}
                        {{ form.nationality.errors }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.address|as_crispy_field }}
                        {{ form.address.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Academic Information Section -->
    <div class="card mb-3">
        <div class="card-header">Academic Information</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.branch|as_crispy_field }}
                        {{ form.branch.errors }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.student_class|as_crispy_field }}
                        {{ form.student_class.errors }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.admission_date|as_crispy_field }}
                        {{ form.admission_date.errors }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.last_admitted_class|as_crispy_field }}
                        {{ form.last_admitted_class.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Status Information Section -->
    <div class="card mb-3">
        <div class="card-header">Status Information</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.status|as_crispy_field }}
                        {{ form.status.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Parent/Guardian Relationship Section -->
    <div class="card mb-3">
        <div class="card-header">Parent/Guardian Relationship</div>
        <div class="card-body">
            <div id="parent-relationship-container">
                {% for parent_form in parent_assignment_forms %}
                <div class="parent-relationship-item mb-3">
                    <div class="form-group">
                        {{ parent_form.parent.label_tag }} {{ parent_form.parent }}
                        {{ parent_form.parent.errors }}
                    </div>
                    <div class="form-group">
                        {{ parent_form.relation_type.label_tag }} {{ parent_form.relation_type }}
                        {{ parent_form.relation_type.errors }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-start mt-3">
                <button type="button" class="btn btn-secondary me-2" id="add-parent-relationship">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"/>
                      </svg>
                    Add Another Parent
                </button>
                <button type="button" class="btn btn-danger" id="remove-parent-relationship">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                      </svg>
                </button>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Add Student</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const shortCode = "{{ school.short_code }}";

        function loadClasses(branchId) {
            if (branchId) {
                fetch(`/students/${shortCode}/get-classes/${branchId}/`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        const classSelect = document.getElementById('id_student_class');
                        classSelect.innerHTML = ''; // Clear existing options
                        classSelect.insertAdjacentHTML('beforeend', '<option value="">Select class</option>'); // Default option
                        data.classes.forEach(cls => {
                            classSelect.insertAdjacentHTML('beforeend', `<option value="${cls.id}">${cls.name}</option>`);
                        });
                    })
                    .catch(error => {
                        console.error('Error fetching classes:', error);
                    });
            } else {
                document.getElementById('id_student_class').innerHTML = '<option value="">Select class</option>';
            }
        }

        const selectedBranch = "{{ selected_branch }}";
        if (selectedBranch) {
            loadClasses(selectedBranch);
        }

        document.getElementById('id_branch').addEventListener('change', function() {
            const branchId = this.value;
            loadClasses(branchId);
        });

        let parentCount = 1;
        document.getElementById('add-parent-relationship').addEventListener('click', function() {
            const container = document.getElementById('parent-relationship-container');
            const newParentItem = document.querySelector('.parent-relationship-item').cloneNode(true);
            newParentItem.querySelectorAll('select, input').forEach((field) => {
                const nameAttr = field.getAttribute('name');
                const newName = nameAttr.replace(/\d+/, parentCount);
                field.setAttribute('name', newName);
                field.value = ''; // Clear the field value
            });
            container.appendChild(newParentItem);
            parentCount++;
        });

        // Remove the last added parent field
        document.getElementById('remove-parent-relationship').addEventListener('click', function() {
            const container = document.getElementById('parent-relationship-container');
            if (container.children.length > 1) { // Ensure there's at least one item left
                container.lastElementChild.remove();
            }
        });
    });
</script>
{% endblock %}
