{% extends "adminlte/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card">
    <section class="card-body">
        <div class="card mx-auto" style="margin:0px;">
            <div class="card-header bg-primary text-white">
                <h1 class="card-title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill-down" viewBox="0 0 16 16">
                        <path d="M12.5 9a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7m.354 5.854 1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V10.5a.5.5 0 0 0-1 0v2.793l-.646-.647a.5.5 0 0 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                      </svg>
                    Add Staff for {{ school.school_name }}
                </h1>
            </div>

            <div class="card-body">
                <form method="post" enctype="multipart/form-data" id="staffForm">
                    {% csrf_token %}
                    
                    <!-- Bootstrap Tabs -->
                    <ul class="nav nav-tabs" id="staffFormTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="personal-info-tab" data-bs-toggle="tab" href="#personal-info" role="tab" aria-controls="personal-info" aria-selected="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                  </svg>
                                Personal Information
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="professional-details-tab" data-bs-toggle="tab" href="#professional-details" role="tab" aria-controls="professional-details" aria-selected="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
                                    <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                                    <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.4 5.4 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2z"/>
                                  </svg>
                                Professional Details
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="document-uploads-tab" data-bs-toggle="tab" href="#document-uploads" role="tab" aria-controls="document-uploads" aria-selected="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
                                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0"/>
                                  </svg>
                                Document Uploads
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-info-tab" data-bs-toggle="tab" href="#account-info" role="tab" aria-controls="account-info" aria-selected="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-lock" viewBox="0 0 16 16">
                                    <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5v-1a2 2 0 0 1 .01-.2 4.49 4.49 0 0 1 1.534-3.693Q8.844 9.002 8 9c-5 0-6 3-6 4m7 0a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1"/>
                                  </svg>
                                Account Information
                            </a>
                        </li>
                    </ul>

                    <!-- Tab Content -->
                    <div class="tab-content mt-3" id="staffFormTabsContent">
                        
                        <!-- Personal Information Section -->
                        <div class="tab-pane fade show active" id="personal-info" role="tabpanel" aria-labelledby="personal-info-tab">
                            <div class="card">
                                <div class="card-header bg-primary text-white">
                                    <h3 class="card-title">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                          </svg>
                                        Personal Information
                                    </h3>
                                </div>
                                <div class="card-body bg-light">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            {{ form.first_name|as_crispy_field }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form.last_name|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            {{ form.email|as_crispy_field }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form.phone_number|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            {{ form.date_of_birth|as_crispy_field }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form.marital_status|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            {{ form.gender|as_crispy_field }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form.nationality|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form.address|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Professional Details Section -->
                        <div class="tab-pane fade" id="professional-details" role="tabpanel" aria-labelledby="professional-details-tab">
                            <div class="card">
                                <div class="card-header bg-primary text-white">
                                    <h3 class="card-title">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
                                            <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                                            <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.4 5.4 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2z"/>
                                          </svg>
                                        Professional Details
                                    </h3>
                                </div>
                                <div class="card-body bg-light">
                                    <div class="form-group">
                                        {{ form.role|as_crispy_field }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.branches|as_crispy_field }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.staff_category|as_crispy_field }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.status|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Document Uploads Section -->
                        <div class="tab-pane fade" id="document-uploads" role="tabpanel" aria-labelledby="document-uploads-tab">
                            <div class="card">
                                <div class="card-header bg-primary text-white">
                                    <h3 class="card-title">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
                                            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0"/>
                                          </svg>
                                        Document Uploads
                                    </h3>
                                </div>
                                <div class="card-body bg-light">
                                    <div class="form-group">
                                        {{ form.cv|as_crispy_field }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.profile_picture|as_crispy_field }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.staff_signature|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Account Information Section -->
                        <div class="tab-pane fade" id="account-info" role="tabpanel" aria-labelledby="account-info-tab">
                            <div class="card">
                                <div class="card-header bg-primary text-white">
                                    <h3 class="card-title">
                                        Account Information
                                    </h3>
                                </div>
                                <div class="card-body bg-light">
                                    <div class="form-group">
                                        {{ form.username|as_crispy_field }} <!-- This will be read-only -->
                                    </div>
                                    <div class="form-group">
                                        {{ form.password1|as_crispy_field }} <!-- Password displayed as plain text in red -->
                                    </div>
                                    <div class="form-group">
                                        {{ form.password2|as_crispy_field }} <!-- Password confirmation in red -->
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary" id="addStaffButton">
                                        Add Staff
                                    </button>
                                </div>
                            </div>
                        </div>

                </form>
            </div>
        </div>
    </section>
</div>

<!-- JavaScript to dynamically generate username -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get form fields
        const firstNameInput = document.getElementById('{{ form.first_name.id_for_label }}');
        const lastNameInput = document.getElementById('{{ form.last_name.id_for_label }}');
        const usernameInput = document.getElementById('{{ form.username.id_for_label }}');

        // Function to generate school initials from school name
        function getSchoolInitials(schoolName) {
            return schoolName.split(' ')  // Split the school name into words
                             .map(word => word.charAt(0).toUpperCase())  // Take the first letter of each word
                             .join('');  // Join all initials together
        }

        // School initials and year to be used in username
        const schoolInitials = getSchoolInitials('{{ school.school_name }}');
        const currentYear = new Date().getFullYear(); // Current year

        function generateUsername() {
            const lastName = lastNameInput.value.trim().toUpperCase();
            if (lastName) {
                // Replace / with valid characters like - (dash)
                usernameInput.value = `${schoolInitials}-${lastName}-${currentYear}-1`;
            } else {
                usernameInput.value = `${schoolInitials}-${currentYear}-1`; // Fallback
            }
        }

        // Add event listeners to update username as first and last name are entered
        firstNameInput.addEventListener('input', generateUsername);
        lastNameInput.addEventListener('input', generateUsername);

        // Initialize username on page load
        generateUsername();
    });

    document.addEventListener('DOMContentLoaded', function() {
        function validateTab(tab) {
            var valid = true;
            var fields = tab.querySelectorAll('input, select, textarea');
            fields.forEach(function(field) {
                if (!field.checkValidity()) {
                    valid = false;
                    field.classList.add('is-invalid');
                } else {
                    field.classList.remove('is-invalid');
                }
            });
            return valid;
        }

        document.querySelectorAll('#staffFormTabs a[data-bs-toggle="tab"]').forEach(function(tabLink) {
            tabLink.addEventListener('show.bs.tab', function(event) {
                var currentTab = document.querySelector(event.relatedTarget.getAttribute('href'));
                if (!validateTab(currentTab)) {
                    event.preventDefault(); // Prevent switching to the next tab if the current tab is invalid
                    alert('Please fill in all required fields before proceeding to the next tab.');
                }
            });
        });
    });
</script>
{% endblock %}
