{% extends 'adminlte/base.html' %}

{% block title %}Dashboard-{{ school.school_name }} {% endblock %}

{% block sidebar %}
    {% include 'adminlte/lib/_main_sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Dashboard-
                <small>Main dashboard</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>
        <section class="content">
            <!-- Main content here -->
           
    </div>
{% endblock %}


