{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-4">
    <!-- Title Card -->
    <form method="post" action="">
      {% csrf_token %}
    <div class="card card-outline card-primary mb-3">
        <div class="card-body">
            {% if pry_school %}
                <h4>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-stack text-primary" viewBox="0 0 16 16">
                    <path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.6.6 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.6.6 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.6.6 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535z"/>
                    <path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.6.6 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0z"/>
                  </svg>
                  Assign Classes to {{ branch_type }} Branches of {{ pry_school.school_name }}
                </h4>
            {% else %}
                <h4>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-stack text-primary" viewBox="0 0 16 16">
                    <path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.6.6 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.6.6 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.6.6 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535z"/>
                    <path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.6.6 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0z"/>
                  </svg>
                  Assign Classes to {{ branch_type }} Branches of {{ school.school_name }}
                </h4>
            {% endif %}
        </div>
    </div>

    <!-- Row for Branches and Classes Cards -->
    <div class="row">
        <!-- Branches Card -->
        <div class="col-md-6">
            <div class="card card-outline card-primary h-100">
                <div class="card-header">
                  <h5>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house text-primary" viewBox="0 0 16 16">
                      <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                    </svg>
                    Select Branches for class assignment
                  </h5>
              </div>  
              <div class="card-body" style="max-height: 400px; overflow-y: auto;">
                    {{ form.branches.label_tag }}<br>
                    {% for branch in form.branches %}
                        <div class="form-check">
                            {{ branch.tag }}
                            <label class="form-check-label" for="{{ branch.id_for_label }}">
                                {{ branch.choice_label }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Classes Card -->
        <div class="col-md-6">
            <div class="card card-outline card-primary h-100">
                <div class="card-header">
                    <h5>
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-right text-primary" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"/>
                      </svg>
                    Assign classes to branches
                    </h5>
                </div>
                <div class="card-body" style="max-height: 400px; overflow-y: auto;">
                    {{ form.classes.label_tag }}<br>
                    {% for class_field in form.classes %}
                        <div class="form-check">
                            {{ class_field.tag }}
                            <label class="form-check-label" for="{{ class_field.id_for_label }}">
                                {{ class_field.choice_label }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <button type="submit" class="btn btn-primary">Assign Classes</button>
    </div>
   
    </form>
</div>
{% endblock %}
